{% extends "app/base.html" %}
{% load static %}

{% block js %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'app/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'app/lib/waypoints/waypoints.min.js'%}"></script>
        <script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'app/lib/isotope/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'app/lib/lightbox/js/lightbox.min.js'%}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'app/mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'app/mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'app/js/main.js' %}"></script>
{% endblock %}

{%block css%}
    <!-- Libraries Stylesheet -->
    <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'app/lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'app/css/style.css'%} " rel="stylesheet">

{%endblock%}

{% block contenido1 %}
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-3 mt-lg-5">Sobre CO-COMPLETO</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="{% url 'index'%}">Inicio</a></p>
                <i class="fa fa-circle px-3"></i>
            </div>
        </div>
    </div>
    <!-- Header End -->

     <!-- Promotion Start 1-->
     <div class="container-fluid my-5 py-5 px-0">
        <div class="row bg-primary m-0">
            <div class="col-md-6 px-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'app/img/service-2.jpg'%}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-md-6 py-5 py-md-0 px-0">
                <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="font-weight-bold text-white mt-3 mb-4">Desde 2006</h3>
                    <p class="text-white mb-4">CO-COMPLETO es una de las mayores empresas de comida rápida del mundo por capitalización bursátil y número de clientes. Apoyándose en las mejores productos alimenticios en sus sucursales así como en delivery. Una oferta innovadora de servicios alimenticios, la Compañía se está transformando en una compañia mundial, lo que la posiciona muy favorablemente para satisfacer las necesidades de sus clientes y capturar el crecimiento en nuevos ingresos.</p>
                    <a href="{% url 'product'%}" class="btn btn-secondary py-3 px-5 mt-2">Ordena ahora!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Promotion End 1-->

    <!-- Promotion Start 2-->
    <div class="container-fluid my-5 py-5 px-0">
        <div class="row bg-primary m-0">
            <div class="col-md-6 py-5 py-md-0 px-0">
                <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="font-weight-bold text-white mt-3 mb-4">A donde vayas</h3>
                    <p class="text-white mb-4">Presente en 21 países y con una base de clientes de más de 200 millones de accesos, CO-COMPLETO tiene una fuerte presencia en Chile, Europa y resto de Latinoamérica, donde concentra la mayor parte de su estrategia de crecimiento.</p>
                    <a href="{% url 'product'%}" class="btn btn-secondary py-3 px-5 mt-2">Ordena ahora!</a>
                </div>
            </div>
            <div class="col-md-6 px-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'app/img/santiago.jpg'%}" style="object-fit: cover;">
                </div>
            </div>  
        </div>
    </div>
    <!-- Promotion End 2-->

    <!-- Promotion Start 3-->
    <div class="container-fluid my-5 py-5 px-0">
        <div class="row bg-primary m-0">
            <div class="col-md-6 px-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'app/img/carousel-2.jpg'%}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-md-6 py-5 py-md-0 px-0">
                <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="font-weight-bold text-white mt-3 mb-4">Por todo el pais</h3>
                    <p class="text-white mb-4">En Chile, CO-COMPLETO comercializa sus productos a través de su marca comercial "El completo", proveyendo de servicios alimenticios en sucursales y delivery, con presencia en el 100% de las comunas del país. CO-COMPLETO es hoy la mayor comunidad de clientes de Chile, con más de 2 millones de clientes y sobre 5 millones de accesos a través de su plataforma virtual.
                Su representante legal en Chile es doña Ignacia Ramirez.</p>
                    <a href="{% url 'product'%}" class="btn btn-secondary py-3 px-5 mt-2">Ordena ahora!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Promotion End 3-->
 {% endblock %}